
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>详情</title>
		<script src="../js/mui.min.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
		<style type="text/css">
			.show {
				margin-left: 3%;
				font-size: 20px;
				
			}
			#redbox span{
				background:rgba(255,255,255,.8);
				display: inline-block;
				width: 100%;
				height: 30px;
				text-align: center;
				line-height: 30px;
				color: black;
				
			}
			#redbox span:hover{
				background: black;
				color: white;
			}
		</style>
	</head>

	<body>
		<!--右侧图标-->
		<div style="display:none;width: 100px;height: 120px; border-radius:5px;position: absolute;right:0px;top:0px; z-index: 999;" id="redbox">
			<span class="fa fa-id-badge" id="defriend">拉黑</span>
			<span class="fa fa-bell-slash">屏蔽</span>
			<span class="fa fa-hand-paper-o" >举报</span>
			<span class="fa fa-user-o">联系我们</span>
		</div>

		<div id="content">
			<div id="video">
				<!--<video width="100%" height="210" controls  poster="../images/timg.jpg" >
					<source src="../images/26.mp4" type="video/mp4 " id="video"> Your browser does not support the video tag.
				</video>-->
			</div>

			<!--介绍-->
			<div>
				<ul class="mui-table-view" id="content">
					<li class="show" id="cishu">
						<!--<a class="">
							<span class="fa fa-volume-down" style="margin-right: 10px;"></span>
							<span style="font-size: 15px;">55555次播放</span>
						</a>-->
					</li>
					<li class="mui-table-view-cell" id="yonghu">
						<!--<a class="">
							<span class="fa fa-user-o" style="margin-right: 10px;"></span>
							<span style="color: burlywood;">胡小乐asdfsdafsd:</span>
							<span style="color: gainsboro;">我是大好人</span>
						</a>-->
					</li>
					<li class="mui-table-view-cell" id="pingtiao">
						<!--<a class="">
							<span class="fa fa-heart-o">&nbsp;&nbsp;:</span>
							<span style="margin-right: 30%;color: red;">99⁰C</span>
							<span class="fa fa-comment-o" >&nbsp;&nbsp;:</span>
							<span class="" style="color: darkslategray;">&nbsp;&nbsp;5555条</span>
						</a>-->
					</li>
				</ul>
				
			</div>
			
			
			<div class="mui-content mui-scroll-wrapper" style="margin-top: 325px;" id="shuaxin">
				<div class="mui-scroll">
					<ul class="mui-table-view" id="comment">
						<!--<li class="mui-table-view-cell mui-media ">
							<a href="javascript:; ">
								<img class="mui-media-object mui-pull-left " src="../images/qin1.jpg ">
								<div class="mui-media-body">
									幸福
									<span class="mui-icon mui-pull-right" style="font-size: 10px;padding: 4px; "><span class="fa fa-hourglass-o"></span>2017-11-10</span>
									<p class="mui-ellipsis">能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？ </p>
			
								</div>
							</a>
						</li>-->
						
					</ul>
			    </div>
			</div>
		</div>

		<footer class="mui-bar mui-bar-footer">
			<div class="input_text " id="click_before">
				<span class="mui-icon mui-icon-chatbubble " style="margin-right: 3%;width: 5%; "></span>
				<input type="text " style="width: 80%;height: 30px; " placeholder="请评论 " />
				<span class="fa fa-fighter-jet " aria-hidden="true " style="margin-left: 3%;width: 5%; "></span>
			</div>
			<div class="input_text " style="display: none;" id="click_after">
				<span class="mui-icon mui-icon-chatbubble " style="margin-right: 3%;width: 5%; "></span>
				<input type="text " style="width: 80%;height: 30px; border: 1px solid gray; " placeholder="请输入评论内容 " />
				<span class="fa fa-rocket " aria-hidden="true " style="margin-left: 3%;width: 5%; "></span>
			</div>

		</footer>
	</body>

</html>
<script type="text/javascript ">
	mui.init({

//		pullRefresh: {
//			container: "#shuaxin", //下拉刷新容器标识，querySelector能定位的css选择器均可，比如：id、.class等
//			down: {
//				height: 50, //可选,默认50.触发下拉刷新拖动距离,
//				auto: true, //可选,默认false.首次加载自动下拉刷新一次
//				contentdown: "下拉可以刷新", //可选，在下拉可刷新状态时，下拉刷新控件上显示的标题内容
//				contentover: "释放立即刷新", //可选，在释放可刷新状态时，下拉刷新控件上显示的标题内容
//				contentrefresh: "正在刷新...", //可选，正在刷新状态时，下拉刷新控件上显示的标题内容
//				callback: function() //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
//				settimeout({
//					function(){
//						mui('#shuaxin').pullRefresh().endPulldown();
//					},1000;
//				})
//			}
//		}
	});
	mui(".mui-scroll-wrapper").scroll({
		deceleration: 0.0005
	});
	mui.plusReady(function() {
		
		var self = plus.webview.getWebviewById("info");
		video_id=self.video_id;
		console.log(video_id);
		mui.ajax({
			data:{
				video_id:video_id,
			}, 
			type: 'POST', 
			url:"http://localhost/php/app/home/index.php?class=info&method=content",
			success: function(data) { 
				data = $.parseJSON(data);
				data = data.data;
			   
               var video = '<div><video width="100%" height="210" controls  poster="../images/timg.jpg" ><source src="'+data.info.video_url+'" type="video/mp4 " id="video"></video></div>';      
		       $("#video").append(video); 
		       
		       var cishu = '<a class=""><span class="fa fa-volume-down" style="margin-right: 10px;"></span><span style="font-size: 15px;">'+data.info.look+'次播放</span></a>';
		       $("#cishu").append(cishu);
		     
		     
		       var yonghu ='<a class=""><span class="fa fa-user-o" style="margin-right: 10px;"></span><span style="color: burlywood;">'+data.info.username+':</span><span style="color: gainsboro;">'+data.info.theme+'</span></a>';
		       $("#yonghu").append(yonghu);
		       
		       var pingtiao = '<a class=""><span class="fa fa-heart-o">&nbsp;&nbsp;:</span><span style="margin-right: 30%;color: red;">99⁰C</span><span class="fa fa-comment-o" >&nbsp;&nbsp;:</span><span class="" style="color: darkslategray;">&nbsp;&nbsp;55条</span></a>';
		       $("#pingtiao").append(pingtiao);
		       
		       console.log(data.comment.length);
		       for(var i=0;i<data.comment.lenght;i++){
			       	var comments = '<li class="mui-table-view-cell mui-media "><a href="javascript:; "><img class="mui-media-object mui-pull-left " src="../images/qin1.jpg "><div class="mui-media-body">幸福<span class="mui-icon mui-pull-right" style="font-size: 10px;padding: 4px; "><span class="fa fa-hourglass-o"></span>2017-11-10</span><p class="mui-ellipsis">能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？ </p></div></a></li>';
			       	$("#comment").append(comments);
		       }
			}
	    })
	
		
		
		
		
		
		
		
		//输入框
		document.getElementById("click_before").addEventListener("tap", function() {
			$("#click_before").css("display", "none");
			$("#click_after").css("display", "block");

		})
		document.getElementById("content").addEventListener("tap", function() {
			$("#click_before").css("display", "block");
			$("#click_after").css("display", "none");
		})
		
		//拉黑
		document.getElementById('defriend').addEventListener('tap', function() {
		   
		})
		
	

	})
	function redFix(){
			$("#redbox").toggle();
		}
</script>