<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="../js/mui.min.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
		<style>
			#content_body{
				height: 100%;
				width: 100%;
				background:url(../images/login.jpg) no-repeat;
				background-size:cover;	
			}
			.mui-content {
				margin-top: 30%;
			}
			
			.mui-btn {
				width: 80px;
			}
		</style>
	</head>

	<body>
	<div class="mui-fullscreen" id="content_body">
		<header class="mui-bar mui-bar-nav" style="background: rgba(255,255,255,0);">
			<a class="mui-icon mui-icon-back mui-pull-left " id="header_left"></a>
			<h1 class="mui-title">登录</h1>
		</header>
		<div class="mui-content" style="background: rgba(255,255,255,0);">
			<div class="logo" style="width: 100%;text-align: center;background: rgba(255,255,255,0);" >
				<img src="../images/logo.png" style="width: 150px; height: 100px;">
				<p>请先注册哦！</p>
			</div>

			<form class="mui-input-group" style="background: rgba(255,255,255,0);">

				<div class="mui-input-row">
					<label>帐号</label>
					<input type="text" class="mui-input-clear" placeholder="请输入帐号名" id="username">
				</div>
				<div class="mui-input-row">
					<label>密码</label>
					<input type="password" class="mui-input-clear" placeholder="请输入密码" id="password">
				</div>
				
			</form>
			<!--//注意：登录按钮不能和账号密码输入框放在一个form里面-->
			<div class="mui-content-padded" align="center">
				<button type="button" class="mui-btn mui-btn-blue" id="login">登陆</button>
				<button type="button" class="mui-btn mui-btn-green" id="reg">注册</button>
			</div>
		</div>
	</div>
		

		<script type="text/javascript">
			mui.init();
			mui.plusReady(function() {
				var reg = document.getElementById("reg");
				var login = document.getElementById("login");
				reg.addEventListener('tap', function() {
					mui.openWindow({
						url: 'reg.html',
						id: 'reg'
					})
				});
				
				var oldBack = mui.back;
				mui.back = function(){
					mui.confirm("确定退出登录?","提示",["确定","取消"],function(e){
						if(e.index ==0){
							oldBack();
						}
					});
				}
				document.querySelector("#login").addEventListener("tap",function(){
					var username = $("#username").val();
					var userpwd = $("#password").val();
					mui.ajax({
						data: {
							name: username,
							pwd: userpwd,
						},
						dataType: 'json',
						type: 'POST',
						url:"http://localhost/php/app/home/index.php?class=user&method=login",
						timeout: 10000,
						success: function(data) {
							if(data.code == 200) {
						 //登录成功
	
						 		plus.storage.setItem("user_id", data.data);
								plus.ui.toast("登录成功！");
								plus.webview.getWebviewById("main_index").reload(true);
								plus.webview.getWebviewById("main_find").reload(true);
								plus.webview.getWebviewById("main_follow").reload(true);
								plus.webview.getWebviewById("main_me").reload(true);
								oldBack();
//								mui.openWindow({
//									url: '../index.html',
//									id: 'index'
//								})
							} else if(data.code ==100){
								plus.ui.toast("信息不完整！");
							}
							else{
								//注册失败
								plus.ui.toast("登录失败，请检查用户名与密码是否正确。");
							}
						},
						error: function() {}
					})
				})
				
				
			})

			mui.plusReady(function() {
				document.getElementById("header_left").addEventListener("tap", function() {
					mui.back();
				})
			})
		</script>
	</body>

</html>