<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>关于</title>
		<script src="../js/mui.min.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
		<style type="text/css">

		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<img class="mui-media-object" src="../images/qin4.jpg" id="header_left" style="border-radius: 50%; width: 40px;height:40px;margin-top:2px;">
			<h1 class="mui-title">个人中心</h1>
			<a class="mui-icon mui-icon-bars mui-pull-right"></a>
		</header>
		<div class="mui-content" style="background: url(../images/qin4.jpg)no-repeat;background-size: cover; width: 100%; height: 250px;">
			<ul class="mui-table-view" style="background-color: rgba(255,255,255,0);margin: 100px 30px 0px 30px;">
				<li class="mui-table-view-cell mui-media" id="login" style="height: 80px; ">
					<a href="javascript:;">
						<img class="mui-media-object mui-pull-left" src="../images/qin3.jpg" style="border-radius: 15px;">
						<div class="mui-media-body" style="font-size: 20px;">
							<span>登录/注册</span>
							<p class="mui-ellipsis" style="font-size: 15px;">快速登陆，多端同步</p>
						</div>
					</a>
				</li>

			</ul>
		</div>
		<ul class="mui-table-view mui-grid-view">
			<li class="mui-table-view-cell mui-media mui-col-xs-3">
				<a href="#">
					<!--<img class="mui-media-object" src="http://placehold.it/400x300">-->
					<span class="fa fa-shopping-basket"></span>
					<div class="mui-media-body">订阅</div>
				</a>
			</li>
			<li class="mui-table-view-cell mui-media mui-col-xs-3">
				<a href="#">
					<span class="fa fa-eye"></span>
					<div class="mui-media-body">看单</div>
				</a>
			</li>
			<li class="mui-table-view-cell mui-media mui-col-xs-3" id="upShow">
				<a href="#">
					<span class="fa fa-cloud-upload"></span>
					<div class="mui-media-body">上传</div>
				</a>
			</li>
			<li class="mui-table-view-cell mui-media mui-col-xs-3">
				<a href="#">
					<span class="fa fa-calendar-o"></span>
					<div class="mui-media-body">卡卷包</div>
				</a>
			</li>
		</ul>

		<ul class="mui-table-view">
			<li class="mui-table-view-cell">会员中心</li>
			<li class="mui-table-view-cell">历史纪录</li>
			<li class="mui-table-view-cell">我的缓存</li>
			<li class="mui-table-view-cell">个人服务</li>
			<ul class="mui-table-view mui-grid-view mui-grid-9">
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="#">
						<span class="mui-icon mui-icon-home"></span>
						<div class="mui-media-body">我的星球</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="#">
						<span class="mui-icon mui-icon-email"><span class="mui-badge mui-badge-red">5</span></span>
						<div class="mui-media-body">我的任务</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="#">
						<span class="mui-icon mui-icon-chatbubble"></span>
						<div class="mui-media-body">我的积分</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="#">
						<span class="mui-icon mui-icon-mic"></span>
						<div class="mui-media-body">我的播单</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="#">
						<span class="mui-icon mui-icon-search"></span>
						<div class="mui-media-body">我的订单</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="#">
						<span class="mui-icon mui-icon-videocam"></span>
						<div class="mui-media-body">投电视</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="#">
						<span class="mui-icon mui-icon-compose"></span>
						<div class="mui-media-body">意见反馈</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="#">
						<span class="mui-icon mui-icon-phone"></span>
						<div class="mui-media-body">我的客服</div>
					</a>
				</li>
			</ul>
			<li class="mui-table-view-cell">精彩生活</li>
			<ul class="mui-table-view mui-grid-view mui-grid-9">
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="#">
						<span class="fa fa-ils"></span>
						<div class="mui-media-body">免流量专区</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="#">
						<span class="fa fa-reddit-alien"><span class="mui-badge mui-badge-red">5</span></span>
						<div class="mui-media-body">电影票</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="#">
						<span class="fa fa-gift"></span>
						<div class="mui-media-body">游戏</div>
					</a>
				</li>

			</ul>
		</ul>

	</body>

</html>
<script type="text/javascript" charset="utf-8">
	mui.init();
	mui.plusReady(function() {
//		document.getElementById("header_left").addEventListener("tap", function() {
//			mui.back();
//		})



        //改变头像
        var uid = plus.storage.getItem("user_id");  //获取用户id
        if(uid){
		mui.ajax({
				data: {
					uid:uid,
				},
				dataType: 'json',
				type: 'POST',
				url:"http://localhost/php/app/home/index.php?class=user&method=logo",
				success: function(data) {
					var userimage = data.data["image"];
					var username = data.data["username"];
//					console.log(username);
					if(data.code == 200) {
//						console.log(userimage);
				    	$("#user_photo").attr("src",userimage);
				    	$("#header_left").attr("src",userimage);
				    	$("#username").html(username);
					}
				},
				
			})

		}else{
			
		};
		
		mui("#upShow").on("tap", "a", function() {
			mui.openWindow({
				url: "upshow.html",
				id: "upshow",
				styles: {
					top: "0px", //新页面顶部位置
					bottom: "0px", //新页面底部位置

				},
				extras: {
					//传参
					"title": "今日新闻"
				},
			});
		});
		
		
	})
	mui("#login").on("tap", "span", function() {
		mui.openWindow({
			url: "login.html",
			id: "login",
			styles: {
				top: "0px", //新页面顶部位置
				bottom: "50px", //新页面底部位置

			},
			extras: {
				//传参
				"title": "登录"
			},
		});
	});
</script>