<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="../js/mui.min.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
		<style type="text/css">
			#content_body{
				height: 100%;
				width: 100%;
				background:url(../images/reg.jpg) no-repeat;
				background-size:cover;	
			}
			.logo{
				margin-top:28%;
			}
			
			.mui-btn {
				width: 80px;
			}
		</style>
	</head>

	<body>
		<div class="mui-fullscreen" id="content_body">
			<header class="mui-bar mui-bar-nav" style="background:rgba(255,255,255,0);">
				<a class="mui-icon mui-icon-left-nav mui-pull-left" id="header_left" style="background:rgba(255,255,255,0);"></a>
				<h1 class="mui-title">注册</h1>
			</header>
			<div class="mui-content" style="background:rgba(255,255,255,0);">
				<form class="mui-input-group" style="background: rgba(255,255,255,0);">
					<div class="logo" style="width: 100%;text-align: center;">
						<img src="../images/logo.png" style="width: 150px; height: 100px;background: rgba(255,255,255,0);">
						<p style="color: bisque;">新的一天，新的开始哦。</p>
					</div>
	
					<div class="mui-input-row">
						<label>账号</label>
						<input type="text" class="mui-input-clear" placeholder="请输入账号" id="username">
					</div>
					<div class="mui-input-row">
						<label>密码</label>
						<input type="password" class="mui-input-clear" placeholder="请输入密码" id="password">
					</div>
					<div class="mui-input-row">
						<label>昵称</label>
						<input type="text" class="mui-input-clear" placeholder="请输入昵称" id="nickname">
					</div>
					<div class="mui-input-row" >
						<label style="width: 30%;">验证码:</label>
						<input type="text"  placeholder="请输入验证码" style="width: 40%; float: left;">
						<button type="button" style="width: 25%;margin-left: 5%;background:rgba(255,255,255,.5);margin-top: 3px;">获取验证码</button>
					</div>
				</form>
				<!--/*注意：注册按钮不能和账号密码输入框放在一个form里面*/-->
				<div class="mui-content-padded" align="center">
					<button type="button" class="mui-btn mui-btn-blue" id="reg">注册</button>
				</div>
			</div>
        </div>
		<script type="text/javascript">
			mui.init();
			mui.plusReady(function() {
				var reg = document.getElementById("reg");
				var login = document.getElementById("login");
				reg.addEventListener('tap', function() {
					mui.openWindow({
						url: 'reg.html',
						id: 'reg'
					})
				});
				
				
				document.getElementById("header_left").addEventListener("tap", function() {
					mui.back();
				})
				
				var oldBack = mui.back;
				mui.back = function(){
					mui.confirm("确定退出注册?","提示",["确定","取消"],function(e){
						if(e.index ==0){
							oldBack();
						}
					});
				}
				document.querySelector("#reg").addEventListener("tap",function(){
					var username = $("#username").val();
					var userpwd = $("#password").val();
					var nickname = $("#nickname").val();
					mui.ajax({
						data: {
							name: username,
							pwd: userpwd,
							nickname: nickname
						},
						dataType: 'json',
						type: 'POST',
						url:"http://localhost/php/app/home/index.php?class=user&method=register",
						timeout: 10000,
						success: function(data) {
							console.log(data);
							if(data.code == 200) {
							//登录成功
								plus.ui.toast("注册成功！");
								mui.openWindow({
									url: 'login.html',
									id: 'login'
								})
							} else if(data.code ==100103){
								plus.ui.toast("用户名已存在！");
							}else if(data.code ==100){
								plus.ui.toast("信息不完整！");
							}
							else{
								//注册失败
								plus.ui.toast(data.data);
							}
						},
						error: function() {}
					})
				})
				


			})
			mui.plusReady(function() {
				
			})
		</script>
	</body>

</html>